/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

:root {  /* variaveis css */
  --color-background: #00163373;
  --background-navbar: #001633;
  --color-navbar-text:whitesmoke;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
  
body {
  background-color: var(--color-background);
}
  
footer {
background-color: var(--background-navbar);
color: var(--color-navbar-text);
font-size: 70%;
}

.page-container {
  margin: 2% 5% 5% 5%;
}

.box2 {
margin-bottom: 20px;
}

img {
display: block;
margin-right: auto;
margin-left: auto;
border-radius: 10%;
}

td {
  padding: 10px;
  border: gray 1px solid;
}

//ONLY NAVBAR

.navbar {
  background-color: var(--background-navbar);
  font-size: 90%;
  padding: 0% 2%;
}
.navbar .navbar-brand {
  color: var(--color-navbar-text);
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: var(--color-navbar-text);
}
.navbar .navbar-text {
  color: var(--color-navbar-text);
  font-size: 100%;
}
.navbar .navbar-text a {
  color: var(--color-navbar-text);
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: var(--color-navbar-text); 
}
.navbar .navbar-nav .nav-link {
  color: var(--color-navbar-text);
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: var(--color-navbar-text);
}
.navbar .navbar-nav .dropdown-menu {
  background-color: var(--background-navbar);
  border-color: var(--background-navbar);
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: var(--color-navbar-text);
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: var(--color-navbar-text);
  background-color: var(--background-navbar);
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: var(--background-navbar);
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: var(--color-navbar-text);
  background-color: var(--background-navbar);
}
.navbar .navbar-toggle {
  border-color: var(--background-navbar);
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: var(--background-navbar);
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: var(--color-navbar-text);
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: var(--color-navbar-text);
}
.navbar .navbar-link {
  color: var(--color-navbar-text);
}
.navbar .navbar-link:hover {
  color: var(--color-navbar-text);
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: var(--color-navbar-text);
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: var(--color-navbar-text);
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: var(--color-navbar-text);
    background-color: var(--background-navbar);
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: var(--color-navbar-text);
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: var(--color-navbar-text);
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: var(--color-navbar-text);
    background-color: var(--background-navbar);
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: var(--color-navbar-text);
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: var(--color-navbar-text);
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: var(--color-navbar-text);
    background-color: var(--background-navbar);
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: var(--color-navbar-text);
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: var(--color-navbar-text);
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: var(--color-navbar-text);
    background-color: var(--background-navbar);
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: var(--color-navbar-text);
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: var(--color-navbar-text);
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: var(--color-navbar-text);
  background-color: var(--background-navbar);
}